@import "../../colors.scss";
@import "../../variables.scss";




.contact {
    p {
        margin: 0;
        display: inline-block;
    }

    width: 100%;
    height: 100%;
    background-color: white;
    top: $header-image-logo-height;
    position: relative;

    h2 {
        font-weight: bold;
        padding-top: 50px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 100%;
        background-color: $background-color;
        font-size: 20px;
    }

    &__header {
        color: $background-color;
        margin: 0px 0 40px calc(25% + 50px);
        text-transform: uppercase;
        font-weight: normal;
        font-size: 24px;
    }

    &__emails {
        margin: 0 0 10px calc(25% + 10px);
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    &__email {
        display: flex;
        align-content: center;
        padding: 5px;
    }

    &__icon {
        margin: 0 20px 5px 10px;
        color: $icon;
        width: 24px;
    }

    &__content {
        display: inline-block;
        font-size: 20px;
        line-height: 30px;
        color: $dark-grey;
        margin: 0 0 5px 0;
    }
}

ul {
    margin-bottom: 100px;
}

.logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
}

@media only screen and (max-width: 1200px) {
    .contact {
        &::before {
            width: 200px;
        }

        &__header {
            font-size: 22px;
            margin-left: 250px;
        }

        &__emails {
            margin-left: 210px;
        }

        &__content {
            font-size: 18px;
        }
    }

    .logo {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .contact {
        &::before {
            width: 0;
        }

        &__header {
            font-size: 22px;
            margin-left: 70px;
        }

        &__emails {
            margin-left: 30px;
        }

        &__content {
            font-size: 18px;
        }
    }

    .logo {
        display: none;
    }
}
