@import "../../colors.scss";



.contact {  
    p {
        margin: 0;
        display: inline-block;
    }

    display: flex;
    flex-wrap: wrap;
    color: #000;
    margin: 0 0 0 calc(25% - 150px);
    height: 160px;
    font-size: 20px;
    color: $dark-grey;

    &__photo {
        margin-bottom: 10px;
        z-index: 1;
        width: 85px;
        height: 120px;
    }

    &__container {
        width: 450px;
        padding-left: 45px;
    }

    p.contact__name {
        margin: 0 0 0 62px;
        display: inline-block;
        padding: 0;
        font-weight: bold;
        line-height: 24px;
    }

    &__div {
        margin-left: 16px;
        display: flex;
        flex-wrap: wrap;
    }

    p.contact__position {
        display: block;
        margin-left: 62px;
        line-height: 24px;
    }

    &__icon {
        width: 24px;
        margin: 0 20px 0 0;
    }

    &__mail {
        width: calc(100% - 46px);
        line-height: 40px;
    }

    &__phone {
        line-height: 32px;
    }
}

@media only screen and (max-width: 1200px) {
    .contact {
        font-size: 18px;
        margin-left: 40px;

        &__container {
            margin: 0;
        }
    }
}

@media only screen and (max-width: 650px) {
    .contact {
        font-size: 18px;
        margin-left: -20px;
        width: auto;
        height: auto;

        &__photo {
            margin: 10px auto 10px;
            z-index: 1;
            height: 150px;
        }

        &__container {
            width: 100%;
            margin-top: 20px;
            padding-left: 0px;
        }
    }
}
