@import "../../variables.scss";
@import "../../colors.scss";

.schedule {
  display: flex;
  
}

.day {
  flex: 1;
  padding: 0.5em;
  background: lightgray;

  .weekday {
    background: white;
    text-align: center;
    color: $text-secondary-color;
    width: 100%;
    padding: 1px 0 1px 0;
    border-radius: 10px;
    text-transform: uppercase;

    -webkit-box-shadow: 0px 0px 5px 0px gray;
    -moz-box-shadow: 0px 0px 5px 0px gray;
    box-shadow: 0px 0px 5px 0px gray;
    border: 1px solid transparent;
  }

  .lecture {
    position: relative;

    background: white;
    width: 100%;
    padding: 0em 1em 0.5em 1em;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    -webkit-box-shadow: 0px 0px 5px 0px gray;
    -moz-box-shadow: 0px 0px 5px 0px gray;
    box-shadow: 0px 0px 5px 0px gray;
    border: 1px solid transparent;

    h4 {
      color: $text-secondary-color;
      font-size: 1em;
      margin-right: 2.2em;
      
    }

    p {
      display: block;
    }
  
    .description {
      max-height: 0;
      overflow: hidden;
      font-size: 0.8em;
      transition: max-height 0.3s ease;
    }

    .description.active {
      max-height: 300px;
      transition: max-height 0.5s ease-in;
    }
  
    .favourite {
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px;
      font-size: 2em;
      color: $text-secondary-color;
      cursor: pointer;
    }

    .more-info {
      text-align: right;
      color: $text-secondary-color;
      font-size: 2em;
      padding: 0 10px 0 10px;
      cursor: pointer;
    }
  }

  
}

.day:nth-child(2n) {
  background: whitesmoke;
}

@media only screen and (max-width: 1400px) {
  .schedule {
    display: block;
  }
}