@import "../../variables.scss";
@import "../../colors.scss";  

html,body {
    height: 100%;
}


.main {
    position: relative;
    top: $header-image-logo-height;
    flex: 1 0;
    display: flex;
    background: $background-color;
    .content {
        flex: 3 0;
        background: $white;
        color: $black;
        padding: 2.5em;
        height: 1000px;
        overflow-y: scroll;

        h2 {
            color: $text-secondary-color;
        }
        &::-webkit-scrollbar-track
        {
           
        }

        &::-webkit-scrollbar
        {
            width: 12px;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	        background-color: #EEE;
        }
    }

}


@media only screen and (max-width: 830px) {
    .main {
        display: block;
        background: $white;
        .inner-nav {
            margin-top: 0;
            ul {
                margin: 0;
                height: 0;
                opacity: 0;
                overflow: hidden;
                transition-property: opacity, height, margin;
                transition-duration: 500ms;
                transition-timing-function: ease-in-out;
            }

            ul.inner-nav-active {
                margin-top: 2em;
                display: block;
                height: 300px;
                opacity: 1;
                transition-property: opacity, height;
                transition-duration: 500ms;
                transition-timing-function: ease-in-out;
            }
        }
       

        .inner-nav-btn {
            display: block;
            font-size: 2em;
            padding: 0.2em 0 0.2em 0;
            text-align: center;
            
            &:hover {
                background: $inner-navbar-btn-active;
                
            }
            
            &:after {
                content: '˅';
            }
        }

        
        .inner-nav-btn.active {
            
            &:after {
                content: '˄';
            }
        }

        .content {

            padding: 2em 1em 2em 1em;
            height: auto;
            overflow-y: initial;
        }
        
    }
}