

.edition {
    margin-bottom: 5em;
    
    h3 {
        margin-top: 2em;
        margin-bottom: 0;
    }
}

.edition-content {
    display: flex;
    justify-content: space-between;
    p {
        margin-top: 0.5em;
        padding-right: 3em;
    }
    img {
        height: 300px;
        min-height: 200px;
        position:relative;
        top: -1em;
    }
}

@media only screen and (max-width: 1200px) {
    .edition-content {
        flex-direction: column;
        p {
            order: 2;
            padding-right: 0;
            margin-top: 2em;
        }
        img {
            margin-top: 1em;
            order: 1;
            width: 70%;
            height: auto;
            min-height: auto;
            top: 0;
        }
    }
}