.sponsor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsor-image {
    margin: 1em;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    transition: 500ms box-shadow  ease-in;
    border-radius: 5px;
    overflow: hidden;
    img {
        min-width: 150px;
        max-width: 200px;

    }

    &:hover {
        -webkit-box-shadow: 0px 0px 20px 10px rgba(247,239,247,1);
        -moz-box-shadow: 0px 0px 20px 10px rgba(247,239,247,1);
        box-shadow: 0px 0px 20px 10px rgba(247,239,247,1);
        transition: 500ms box-shadow  ease-out;
        cursor: pointer;
    }
}