@import '../colors.scss';
@import "../variables.scss";

.footer {
    position: relative;
    top: $header-image-logo-height;
    display: flex;
    justify-content:  space-between;
    width: 100%;
    background: $footer-background-color;

    a {
        color: $text-primary-color;
        text-decoration: none;
    }
    flex-shrink: 0;
}

.more-info, .social-media {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .social-media {
        a div span {
            display: none
        }
    } 
}


@media (max-width: 481px) {
  
    .more-info {
        flex: 1 0;
    }
    
    .social-media {
        display: none;
    }

    
}