@import "../variables.scss";

.header-image-wrapper {
	height: $header-image-logo-height;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}


.header-image {
	height: $header-image-logo-height;
	background: url("../../images/page_head.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}


