@import "../variables.scss";
@import "../colors.scss";  

.inner-nav {
    color: $white;
    width: 300px;
    display: flex;
    flex-direction: column;
    background: $inner-navbar-color;
    margin-top: 2em;

    ul {
        padding-top: 3em;
        padding-bottom: 3em;
        padding: 0;
        list-style-type: none;

        li {
            .nav-item {
                padding: 1em 2em 1em 2em;
                &:hover {
                    background: $white;
                    color: $brown;
                }

                &:active {
                    background: $white !important; 
                    color: $brown;
                }

                .nav-item-text {
                    margin-left: 0.5em;
                }
            }
            
            
        }
    }

    a {
        display: block;
        color: white;
        text-decoration: none;
    }

    .navLink-active {
        background: $brown; 
        color: $white;
    }   
}


.inner-nav-btn {
    display: none;
    cursor: pointer;
}


@media only screen and (max-width: 830px) {
    .inner-nav {
        margin-top: 0;
        flex: 1 0;
        width: auto;
        
        ul {
            margin: 0;
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition-property: opacity, height, margin;
            transition-duration: 500ms;
            transition-timing-function: ease-in-out;
        }

        ul.inner-nav-active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 2em;
            height: 250px;
            opacity: 1;
            transition-property: opacity, height;
            transition-duration: 500ms;
            transition-timing-function: ease-in-out;

            li {
                flex-grow: 1;

                a, .nav-item {
                    height: 100%;
                }

                .nav-item {
                    display: flex;
                    align-items: center;
                }
            }
            
        }
    }


    .inner-nav-btn {
        display: block;
        font-size: 2em;
        padding: 0.2em 0 0.2em 0;
        text-align: center;
        
        &:hover {
            background: $inner-navbar-btn-active;
            
        }
        
        &:after {
            content: '˅';
        }
    }

    
    .inner-nav-btn.active {
        
        &:after {
            content: '˄';
        }
    }
}