@import "../variables.scss";
@import "../colors.scss";  

.main {
    position: relative;
    top: $header-image-logo-height;
    flex: 1 0;
    display: flex;
    justify-content: space-between;
    background: $background-color;
    
}

.main-text {    
    flex: 3 0 400px;
    padding: 2em 4em 2em 4em;
}

.carousel {
    
    flex: 4 0 400px;
    max-width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;

    .slide, .slide.fade-enter.fade-enter-active {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter:    grayscale(100%);
        -ms-filter:     grayscale(100%);
        -o-filter:      grayscale(100%);
        transition: all 500ms ease-in-out;

        &:hover {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            -moz-filter:    grayscale(0%);
            -ms-filter:     grayscale(0%);
            -o-filter:      grayscale(0%);
            transition: all 500ms ease-in-out;
        }
    }
    
    .fade-enter {
        position: absolute;
        top: 0;
        opacity: 0;
        z-index: 1;
    }
    .fade-enter.fade-enter-active {
        z-index: 1;
        opacity: 1;
        transition: opacity 1000ms linear;
    }
    
    .fade-exit {
        opacity: 1;
        transition: opacity 1000ms linear;
    }
    .fade-exit.fade-exit-active {
        opacity: 0;
        transition: opacity 1000ms linear;
    }
    .fade-exit-done {
        opacity: 0;
    }
    
}

.slide-wrapper {
    overflow: hidden;
    height: 700px;
}

.slide {
    display: block;
    height: 750px;
}

.logo {
    max-width: 200px;
    max-height: 200px;
    margin: 0 2em 2em 0;
    align-self: flex-end;
}



@media only screen and (max-width: 1000px) {
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .main {
        flex-direction: column;
    }

    

    .slide-wrapper {
        width: 100%;
        overflow: hidden;
    }

    .slide {
        width: 100%;
        height: auto;
    }

    .main-text {    
        flex: 1 1 auto;
        padding: 1em 1em 1em 1em;
    }
    
}

@media only screen and (max-width: 700px) {
    .carousel {
        flex-basis: 300px;
    }
}

@media only screen and (max-width: 700px) { 
    .carousel {
        flex-basis: 250px;
    }
}

@media only screen and (max-width: 400px){
    .carousel {
        flex-basis: 200px;
    }
}