@import "../colors.scss"; 



.missing {
  position: absolute;
  top: -50px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: $background-color;
  z-index: 5;
  img {
    height: 400px;
  }
  .missing-content {
    text-align: center;
  }
}