@import "../variables.scss";
@import "../colors.scss"; 
@import "../global.scss";

.navbar {
    display: flex;
    position: relative;
    top: $header-image-logo-height;
    background: $background-color;
    
    ul {
        display: flex;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            flex-grow: 1;
            flex-basis: 200px;

            a.nav-link-active div {
                background: $navbar-active;
                border-radius: 0;
            }
        }
    }

    
    

    a {
        color: $text-primary-color;

        text-decoration: none;
    }
}

.hamburger {
    padding: 0;
    display: none;
    width: 200px;
    min-width: 200px;
    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 200px;
        height: 52px;
        cursor: pointer;
        
        .hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
            position: absolute;
            border-radius: 3px;
            width: 30px;
            height: 5px;
            content: '';
            background: $white;
            transition: all 0.5s ease-in-out;
        }

        .hamburger-icon {
            &::before {
                top: -10px;
            }
            &::after {
                bottom: -10px;
            }
        }

        .hamburger-icon.active::after, .hamburger-icon.active::before {
            position: absolute;
            border-radius: 3px;
            content: '';
            width: 30px;
            height: 5px;
            background: $white;
            transition: all 0.5s ease-in-out;
        }

        .hamburger-icon.active {
            width: 30px;
            height: 5px;
            background: none;
            &::before {
                top: 0;
                transform: rotate(-45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(45deg);
            }
        }
    }

    .hamburger-menu {
        display: none;
        align-self: flex-start;
        position: absolute;
        z-index: 3;
    }

    .hamburger-menu li:nth-child(n) {
        display: none;
        align-self: flex-start;
        
    }

}


@media only screen and (max-width: 1200px) {
    

    .hamburger {
        display: block;

        ul.hamburger-menu {
            display: flex;
            flex-direction: column;
            
            li {
                flex-basis: auto;

                a.nav-link-active div {
                    background: $navbar-active;
                    border-radius: 0;
                }
            }
        }
       
    }

    .hamburger.active {
        .hamburger-menu li:nth-child(n) {
            display: block;
            width: 100%;
            z-index: 2;
        }

        .hamburger-menu div {
            border-radius: 0;
            justify-content: flex-start;
            padding: 3em;

            
        }
    }
}

@media only screen and (max-width: 900px) {
    
}

@media only screen and (max-width: 500px) {
   

    .nav-link-list {
        min-width: 120px;
        flex: 1 1;
       
        li {
            display: flex;
            justify-content: center;
            background: $btn-primary-color;
        }
        div {
            width: 30px;
            padding: 0;
            img {
                margin: 0;
            }
        }

        
    }

    .navbar {
        .hamburger {
            flex: 1 0;
            
        }
    }
}