@import "../colors.scss";
@import "../variables.scss";

.news {
    width: 100%;
    top: $header-image-logo-height;
    position: relative;
    background-color: #fff;
    display: flex;

    &__carousel {
        width: 46.1%;
    }

    &__container {
        margin: 50px 0 50px 40px;
        color: #000;
    }

    &__header {
        color: $btn-primary-color;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 1px;
    }

    &__content {
        height: 400px;
        width: 60%;
        min-width: 380px;
        overflow-y: scroll;
    }

    &__logo {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 200px;
    }
}

.info {
    width: 90%;
    margin: 10px 0;

    &__date {
        margin: 2px 0;
        font-weight: bold;
        font-size: 18px;
    }

    &__title {
        margin: 0 0 10px 0;
        font-weight: normal;
    }

    &__content {
        margin: 0;
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .news {
        &__content {
            height: 400px;
            width: 95%;
            min-width: 45vw;
            overflow-y: scroll;
        }

        &__logo {
            display: none;
        }
    }
}

@media (max-width: 800px) {
    .news {
        flex-wrap: wrap;

        &__carousel {
            display: none;
        }

        &__content {
            min-width: 85vw;
        }
    }
}

@media (max-width: 400px) {
    .news {

        &__content {
            min-width: 80vw;
        }
    }
}
