@import "../variables.scss";
@import "../colors.scss"; 



.register-closed {
  position: relative;
  top: $header-image-logo-height;
  display: flex;
  justify-content: center;
  background: white;
  color: #666;
  height: calc(85vh - #{$header-image-logo-height});
  padding: 2em;
  
  h1 {
    color: $text-secondary-color;
  }
  

  .closed {
    color: red;
  }
}