@import "../../variables.scss";
@import "../../colors.scss";

.vote {
    position: relative;
    top: $header-image-logo-height;
    display: flex;

    &__blue-screen {
        background-color: $background-color;
        width: 28.7%;
    }

    &__panel {
        background-color: #fff;
        color: $btn-primary-hover-color;
        width: 100%;
        padding: 34px 40px;
    }

    &__header {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    color: #000;

    &__label {
        display: block;
        margin: 0 auto 10px;
        font-size: 18px;
    }

    &__input {
        width: 100%;
        padding: 5px;
        margin: 0 0 20px;
        border: 2px solid $btn-primary-hover-color;
        border-radius: 5px;
    }
}

.rating {
    width: 100%;

    &__desc {
        color: #000;
        text-align: center;
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.radio {
    width: 20px;
    height: 20px;
    margin-left: 0px;

    &__label {
        font-size: 20px;
        margin-left: 10px;
        line-height: 20px;
    }

    &__container {
        display: flex;
        align-items: center;
        padding: 5px;
    }
}

.button {
    width: 50%;
    margin: 20px auto 0;
    height: 30px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background-color: $btn-primary-color;
    transition: background-color 0.3s;

    &:hover {
        background-color: $btn-primary-hover-color;
    }
}

.error {
    margin: 0 auto;
    font-size: 20px;
    color: red;
}

.success {
    margin: 0 auto;
    font-size: 20px;
    color: #4BB543;
}

.logo {
    position: absolute;
    width: 200px;
    bottom: 20px;
    right: 20px;
}

@media (max-width: 1200px) {
    .logo {
        display: none;
    }

    .form {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .vote__blue-screen {
        display: none;
    }

    .form {
        width: 100%;
    }
}
