$text-primary-color: rgb(255, 255, 255);
$text-secondary-color: rgb(65, 179, 206);

$background-color: rgb(65, 179, 206);
$brown: rgb(170, 67, 0);
$white: rgb(255, 255, 255);
$black: rgb(0, 0,0);
$dark-grey: rgb(50, 50, 50);

$btn-primary-color: rgb(117, 186, 202);
$btn-primary-hover-color: rgb(65, 179, 206);
$footer-background-color: rgb(117, 186, 202);
$inner-navbar-color: rgb(65, 179, 206);
$inner-navbar-btn-active: rgb(117, 186, 202);

$navbar-active: rgb(65, 179, 206);
$icon: rbg(151, 151, 151);
