@import "variables.scss";
@import "colors.scss";  

*, *:hover, *::after, *::before {
	box-sizing: border-box;
}



body {
	margin: 0;
	padding: 0;
	background-color: $background-color;
	font-family: $primary-font-family;
	color: $white;
}

#root {
	display: flex;
	flex-direction: column;
    min-height: calc(100% - #{$header-image-logo-height});
}



.btn {
	display: block;
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4em;
	padding: 1em;
	white-space: nowrap;

}

.btn.btn-primary {
	background: $btn-primary-color;	
	border-radius: 3% 3% 0 0;
}

.btn.btn-primary:hover {
	background: $btn-primary-hover-color;
}

.icon {
	width: 25px;
	margin-right: 1em;
}



